<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dina's Photography</title>
    <script src="https://kit.fontawesome.com/8e15e2e8b7.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->


    <link rel="stylesheet" href="main.page.css">
    <!-- <link rel="stylesheet" href="https://fonts.google.com/specimen/Montserrat"> -->

  </head>
  <body>
    <img class="logo" src="Dina's-logofinal.jpeg" alt="logo" width="300em" height="200em">
    <br/>
    <hr/>
    <br/>
    <br/>

    <a class="button">Home</a>
    <a class="button2" href="aboutpage.html">About</a>
    <a class="button3" href="#contact">Contact us</a>

   </br>
   </br>
   </br>
   </br>

    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="4-1.jpg" class="d-block w-100" alt="kids1">
    </div>
    <div class="carousel-item">
      <img src="3-1.jpg" class="d-block w-100" alt="kids2">
    </div>
    <div class="carousel-item">
      <img src="4.jpg" class="d-block w-100" alt="kids3">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<br/>
<br/>

<section id="contact" class="divider bg20 parallax layer-overlay overlay-dark">
    <div class="container">
        <!-- <div class="section-content"> -->
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="contact-info text-white">
                        <h3 class="mb-30 text-white">Contact Info</h3>
                        <ul class=ul>
                            <li><i class="fa fa-phone"></i> 0522-399-533</li>
                            <li><i class="fa fa-envelope"></i><a href="mailto:dinayehudit@gmail.com"
                                    class="text-white"> dinayehudit@gmail.com</a></li>
                        </ul>
                        <p>Looking forward to hearing from you!</p>
                    </div>
                </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  <!-- <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script> -->
  <!-- <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script> -->
  </body>

</html>
